<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.echo.mapper.BoardMapper">

	<select id="viewBoardList" resultType="com.smhrd.echo.model.BoardListInfo">
		select board_seq, board_title, board_content, board_file, board_dt, user_id, mnt_name, 
		(select user_nick from user_info where user_id = bi.user_id) as user_nick,
		(select count(*) from recommend_info where board_seq = bi.board_seq ) as board_reco_cnt 
		from board_info bi
		<if test="user_id != null">
    	where user_id = #{user_id}
    	</if>
    	
	</select>
	
	<insert id="addBoard">
		insert into board_info(board_seq, board_title, board_content, board_file, board_dt, user_id, mnt_name)
		value(null, #{board_title}, #{board_content}, #{board_file}, now(), #{user_id}, #{mnt_name})
	</insert>
	
	<delete id="deleteBoard">
	delete from board_info where board_seq = #{board_seq}
	</delete>
	
	<update id="modifyBoard">
	update board_info set board_title = #{board_title}, board_content = #{board_content},
	board_file = #{board_file}, mnt_name = #{mnt_name} where board_seq = #{board_seq}
	</update>
	
</mapper>