<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.echo.mapper.GroupMapper">

	<select id="getGroupList"
		resultType="com.smhrd.echo.model.Group">
		select a.group_seq as group_seq, a.group_profile_img as
		group_profile_img,
		a.group_name as group_name,
		(select count(*) from
		joining_group where group_seq = a.group_seq) as
		group_current,
		a.user_max as user_max, b.group_auth as group_auth
		from group_info a,
		joining_group b
		where a.group_seq = b.group_seq and b.user_id = #{id}
	</select>

	<select id="getPersonList"
		resultType="com.smhrd.echo.model.Joining_Group">
		select a.user_nick as user_nick, a.user_profile_img as
		user_profile_img,
		b.group_auth as group_auth
		from user_info a,
		joining_group b
		where a.user_id = b.user_id and b.group_seq = #{seq} and b.group_auth != "대기중"
	</select>

	<select id="joinGroupCon"
		resultType="com.smhrd.echo.model.Group">
		select DISTINCT a.group_seq as group_seq,
		a.group_profile_img as group_profile_img, a.group_name as group_name,
		(select count(*) from
		joining_group where group_seq = a.group_seq) as
		group_current,
		a.user_max as user_max
		from group_info a
		where
		a.group_area = #{group_area} and a.group_age = #{group_age} and
		a.group_level = #{group_level} and a.group_gender = #{group_gender}
		and a.group_type=#{group_type}
	</select>

	<select id="joinGroupNick"
		resultType="com.smhrd.echo.model.Group">
		select a.group_seq as group_seq, a.group_profile_img as group_profile_img
		,a.group_name as group_name ,a.user_max as user_max,
		(select count(*) from joining_group where group_seq = b.group_seq) as
		group_current
		from group_info a, joining_group b
		where a.group_seq =
		b.group_seq and b.group_auth = "y" and b.user_id = (select user_id
		from user_info where user_nick = #{nick})
	</select>

	<select id="joinGroupPro"
		resultType="com.smhrd.echo.model.Group">
		select group_seq, group_profile_img, group_name,
		group_owner_id, (select count(*) from joining_group where group_seq =
		#{num}) as group_current, group_dt
		user_max, group_type, group_area, group_age, group_level, group_gender,
		group_detail,
		(select count(*) from joining_group where group_seq =
		#{num} and user_id = #{id}) as group_auth
		from group_info
		where
		group_seq = #{num}
	</select>

	<insert id="groupSignUp">
		insert into joining_group values(null,
		#{id}, #{num},
		NOW(), "대기중")
	</insert>

	<insert id="addGroup">
		<selectKey resultType="int" keyProperty="group_seq"
			order="AFTER">
			select max(group_seq) from group_info
		</selectKey>
		INSERT INTO group_info(group_seq, group_owner_id, group_name,
		group_area, user_max, group_age, group_level, group_dt,
		group_yn,
		group_gender, group_type, group_profile_img, group_detail)
		VALUES(null, #{group_owner_id}, #{group_name}, #{group_area},
		#{user_max}, #{group_age}, #{group_level}, #{group_dt},
		#{group_yn},
		#{group_gender}, #{group_type}, #{group_profile_img},
		#{group_detail})
	</insert>

	<insert id="addGroupOwner">
		insert into joining_group values(null,
		#{group_owner_id}, #{group_seq},
		NOW(), "y")
	</insert>

	<delete id="dropUser">
		delete from joining_group where user_id = (select
		user_id from user_info
		where user_nick = #{nick})
	</delete>

	<insert id="addCal">
		insert into calendar_info values(null, #{cal_dt},
		#{cal_content}, #{group_seq})
	</insert>

	<select id="getCalList"
		resultType="com.smhrd.echo.model.Calendar">
		select cal_dt, cal_content, group_seq
		from calendar_info
		where group_seq = #{seq}
	</select>

	<update id="groupAgree">
		update joining_group set group_auth = "n"
		where user_id = (select user_id from user_info where user_nick = #{nick})
		and group_seq = #{num}
	</update>

	<delete id="groupDegree">
		delete from joining_group
		where user_id = (select user_id from user_info where user_nick = #{nick})
		and group_seq = #{num} and group_auth = "대기중"
	</delete>
	
		<select id="getSignUpList"
		resultType="com.smhrd.echo.model.Joining_Group">
		select a.user_nick as user_nick, a.user_profile_img as user_profile_img, b.group_auth as group_auth
		from user_info a, joining_group b
		where a.user_id = b.user_id and b.group_seq = #{num} and b.group_auth = "대기중"
	</select>

</mapper>