<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.echo.mapper.SocialMapper">

	<select id="viewCmtList" resultType="com.smhrd.echo.model.CmtListInfo">
		select cmt_seq, board_seq, cmt_content, cmt_dt, user_id,
		(select user_nick from user_info where user_id = ci.user_id) as user_nick,
		(select user_profile_img from user_info where user_id = ci.user_id) as user_profile_img
		from comment_info ci
		where board_seq = #{board_seq}
	</select>
	
	<insert id="addComment">
		insert into comment_info(cmt_seq, board_seq, cmt_content, cmt_dt, user_id)
		value(null, #{comment.board_seq}, #{comment.cmt_content}, now(), #{comment.user_id})
	</insert>
	
	<delete id="deleteComment">
	delete from comment_info where cmt_seq = #{cmt_seq} and board_seq = #{board_seq}
	</delete>
	
	<select id="viewReco" resultType="com.smhrd.echo.model.RecommendInfo">
		select * from recommend_info where user_id = #{user_id} and board_seq = #{board_seq}
	</select>
	
	<insert id="addReco">
		insert into recommend_info(reco_seq, board_seq, user_id, reco_dt)
		value(null, #{reco.board_seq}, #{reco.user_id}, now())
	</insert>
	
	<delete id="deleteReco">
	delete from recommend_info where user_id = #{user_id} and board_seq = #{board_seq}
	</delete>

</mapper>